* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
body {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}
#main {
  min-width: 35rem;
  text-align: center;
}
@media (max-width: 600px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0 !important;
    text-align: center !important;
  }
}
#bday_input {
  width: 100%;
  max-width: 256px;
  height: 3rem;
  border: 1px solid;
  outline: none;
  border-radius: 10px;
}
#show_btn {
  width: 100%;
  max-width: 150px;
  height: 3rem;
  border: 1px solid;
  border-radius: 10px;
  background: transparent;
  outline: none;
}
#head {
  margin-bottom: 2rem;
  font-size: 3rem;
}
#output {
  margin: 2rem 0;
  font-size: 2rem;
}
.footer {
    text-align: center;
  }
  .lists {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .list {
    border: 1px solid rgb(145, 145, 145);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 10px #000;
  }
  .foot{
    position: fixed;
    bottom: 1rem;
    left: -20px;
    width: 100%;
  }
  .intro{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    font-weight: 600;
  }
  @media(max-width:768px){
    .intro{
      display: none;
    }
    .list{
      width: 2rem;
      height: 2rem;
    }
    .foot{
      left: 0;
    }
    #show_btn{
      margin-top: 1rem;
    }
  }